assets/
node_modules/
src/
src*/
temp/
dev/
tests/
packages/
.env
.gitignore
.npmignore
.prettierrc
eslint.config.js
pnpm-lock.yaml
prettier.config.js
prod.tsconfig.json
tsconfig.json
tsup.config.js
/*.tgz